body{
  background-color:black;
}
.pic{
  background-color: black ;
  color:white;
}
.details{
  background-color:black;

color:white;
}
#center
{
  background-color:white;
  color:black;
}
#education
{
  border-collapse: collapse;
  width:100%;
  color:black;
  border:1px solid black;
  background-color:white;
}
#education th
{
  padding:10px;
  border:1px solid black;
  background-color:white;
}
#education td
{
  padding:10px;
  border:1px solid black;
  background-color:white;
}
